<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060302959641-f70l0qa26lot5pmu3oqhf4mq3r0eqvog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060302959641-f70l0qa26lot5pmu3oqhf4mq3r0eqvog</string>
	<key>API_KEY</key>
	<string>AIzaSyBInuwWgxb5GRp8ePrACTqVwxoZvIBY2Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>1060302959641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tiago-Ivaszek-Jensen.WhatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-88acb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-88acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060302959641:ios:12b1ee1b95b642fe9a2688</string>
</dict>
</plist>